<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.8.0/css/bulma.min.css"/>

  {{!-- Uncomment the line below to use Bulma from the local file system --}}
  {{!-- <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css"/> --}}
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>
